# Dependencies
node_modules/
bower_components/

# Build output
dist/
out/
build/
*.AppImage
*.tgz
*.apk
*.xml

# npm creates this locally because this project does not track a lockfile
package-lock.json

# Logs
*.log
*.log.*

# IDE and OS files
.idea/
.DS_Store
